<% provide :title, "Contact"  %>

<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>
<p>
  If you want to contact me instead, my contacts are: 
  <br>
  <b>Phone: </b> 0092 321 843 0026
  <br>
  <b>Email: </b> 
    <a href="mailto:sufyanelahi@gmail.com?Subject=RoR%20Tutorial%20@Heroku" target="_top">
      sufyanelahi@gmail.com
    </a>
</p>
